<div class="p-4 md:p-5 space-y-4">
    <ng-container *ngIf="presentation">

        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label>Title: </label>
                <input type="text" name="title" [(ngModel)]="presentation.task.title" placeholder="Title" class="block w-full px-3 py-2
                 placeholder-gray-400 border rounded-md shadow-sm" required>
            </div>
            <div class="mb-4">
                <label>Description: </label>
                <input type="text" name="description" [(ngModel)]="presentation.task.description"
                    placeholder="Description" class="block w-full px-3 py-2
                    placeholder-gray-400 border rounded-md shadow-sm" required>
            </div>

            <div *ngIf="presentation.task.id" class="mb-4">
                <label>Status: </label>
                <select name="status" [(ngModel)]="presentation.task.status" class="block w-full px-3 py-2
                placeholder-gray-400 border rounded-md shadow-sm">
                    <ng-container *ngFor="let status of taskStatuses">
                        <option [value]="status.id">{{status.name}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="flex items-end justify-end p-4 md:p-5">
                <button type="button"
                    class="ml-4 px-4 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600"
                    (click)="onClose()">Close</button>

                <button type="submit"
                    class="ml-4 px-4 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
                    [disabled]="myForm.invalid">Save</button>
            </div>
        </form>
    </ng-container>
</div>